.reservation_name{
  font-size: 6px !important;
}

.network_bg_err{
	background-color: red;
  color: black;
  padding: 10px;
}

.network_bg_success{
  background-color: #32a877;
  padding: 10px;
  color: #fff;
}

